@import "https://raw.githack.com/GeopJr/DNOME/dist/DNOME.css";

:root {
    --font-primary: "Cantarell";
    --font-display: "Cantarell";
    --font-headline: 'ABC Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-code: "JetBrainsMono Nerd Font Mono";
}

* {
    font-feature-settings: "cv11", "cv13";
}